interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://export.arxiv.org/api/query?max_results=5&search_query=cat%3Acs.AI+OR+cat%3Acs.LG+OR+cat%3Acs.CL+AND+all%3Amachine+learning&sortBy=submittedDate&sortOrder=descending&start=0
  response:
    body:
      string: ''
    headers:
      Location:
      - https://export.arxiv.org/api/query?search_query=cat:cs.AI%20OR%20cat:cs.LG%20OR%20cat:cs.CL%20AND%20all:machine%20learning&start=0&max_results=5&sortBy=submittedDate&sortOrder=descending
      Retry-After:
      - '0'
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://localhost:33210/api/query?max_results=5&search_query=cat%3Acs.AI+OR+cat%3Acs.LG+OR+cat%3Acs.CL+AND+all%3Amachine+learning&sortBy=submittedDate&sortOrder=descending&start=0
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<feed xmlns=\"http://www.w3.org/2005/Atom\">\n
        \ <link href=\"http://arxiv.org/api/query?search_query%3Dcat%3Acs.AI%20OR%20cat%3Acs.LG%20OR%20cat%3Acs.CL%20AND%20all%3Amachine%20learning%26id_list%3D%26start%3D0%26max_results%3D5\"
        rel=\"self\" type=\"application/atom+xml\"/>\n  <title type=\"html\">ArXiv
        Query: search_query=cat:cs.AI OR cat:cs.LG OR cat:cs.CL AND all:machine learning&amp;id_list=&amp;start=0&amp;max_results=5</title>\n
        \ <id>http://arxiv.org/api/D9jbOwMlxm13ZRJT6OVevFlaMRw</id>\n  <updated>2025-10-29T00:00:00-04:00</updated>\n
        \ <opensearch:totalResults xmlns:opensearch=\"http://a9.com/-/spec/opensearch/1.1/\">33920</opensearch:totalResults>\n
        \ <opensearch:startIndex xmlns:opensearch=\"http://a9.com/-/spec/opensearch/1.1/\">0</opensearch:startIndex>\n
        \ <opensearch:itemsPerPage xmlns:opensearch=\"http://a9.com/-/spec/opensearch/1.1/\">5</opensearch:itemsPerPage>\n
        \ <entry>\n    <id>http://arxiv.org/abs/2510.24701v1</id>\n    <updated>2025-10-28T17:53:02Z</updated>\n
        \   <published>2025-10-28T17:53:02Z</published>\n    <title>Tongyi DeepResearch
        Technical Report</title>\n    <summary>  We present Tongyi DeepResearch, an
        agentic large language model, which is\nspecifically designed for long-horizon,
        deep information-seeking research\ntasks. To incentivize autonomous deep research
        agency, Tongyi DeepResearch is\ndeveloped through an end-to-end training framework
        that combines agentic\nmid-training and agentic post-training, enabling scalable
        reasoning and\ninformation seeking across complex tasks. We design a highly
        scalable data\nsynthesis pipeline that is fully automatic, without relying
        on costly human\nannotation, and empowers all training stages. By constructing
        customized\nenvironments for each stage, our system enables stable and consistent\ninteractions
        throughout. Tongyi DeepResearch, featuring 30.5 billion total\nparameters,
        with only 3.3 billion activated per token, achieves\nstate-of-the-art performance
        across a range of agentic deep research\nbenchmarks, including Humanity's
        Last Exam, BrowseComp, BrowseComp-ZH,\nWebWalkerQA, xbench-DeepSearch, FRAMES
        and xbench-DeepSearch-2510. We\nopen-source the model, framework, and complete
        solutions to empower the\ncommunity.\n</summary>\n    <author>\n      <name>
        Tongyi DeepResearch Team</name>\n    </author>\n    <author>\n      <name>Baixuan
        Li</name>\n    </author>\n    <author>\n      <name>Bo Zhang</name>\n    </author>\n
        \   <author>\n      <name>Dingchu Zhang</name>\n    </author>\n    <author>\n
        \     <name>Fei Huang</name>\n    </author>\n    <author>\n      <name>Guangyu
        Li</name>\n    </author>\n    <author>\n      <name>Guoxin Chen</name>\n    </author>\n
        \   <author>\n      <name>Huifeng Yin</[...]
