interactions:
- request:
    body: null
    headers:
      X-Subscription-Token:
      - FILTERED
    method: GET
    uri: https://api.search.brave.com/res/v1/web/search?count=3&mkt=en-US&offset=0&q=neural+networks&safesearch=moderate
  response:
    body:
      string: "{\"query\":{\"original\":\"neural networks\",\"show_strict_warning\":false,\"is_navigational\":false,\"is_news_breaking\":false,\"spellcheck_off\":true,\"country\":\"us\",\"bad_results\":false,\"should_fallback\":false,\"postal_code\":\"\",\"city\":\"\",\"header_country\":\"\",\"more_results_available\":true,\"state\":\"\"},\"mixed\":{\"type\":\"mixed\",\"main\":[{\"type\":\"web\",\"index\":0,\"all\":false},{\"type\":\"web\",\"index\":1,\"all\":false},{\"type\":\"videos\",\"all\":true},{\"type\":\"web\",\"index\":2,\"all\":false},{\"type\":\"web\",\"index\":3,\"all\":false},{\"type\":\"web\",\"index\":4,\"all\":false},{\"type\":\"web\",\"index\":5,\"all\":false},{\"type\":\"web\",\"index\":6,\"all\":false},{\"type\":\"web\",\"index\":7,\"all\":false},{\"type\":\"web\",\"index\":8,\"all\":false},{\"type\":\"web\",\"index\":9,\"all\":false},{\"type\":\"web\",\"index\":10,\"all\":false},{\"type\":\"web\",\"index\":11,\"all\":false},{\"type\":\"web\",\"index\":12,\"all\":false},{\"type\":\"web\",\"index\":13,\"all\":false},{\"type\":\"web\",\"index\":14,\"all\":false},{\"type\":\"web\",\"index\":15,\"all\":false},{\"type\":\"web\",\"index\":16,\"all\":false},{\"type\":\"web\",\"index\":17,\"all\":false},{\"type\":\"web\",\"index\":18,\"all\":false},{\"type\":\"web\",\"index\":19,\"all\":false}],\"top\":[],\"side\":[]},\"type\":\"search\",\"videos\":{\"type\":\"videos\",\"results\":[{\"type\":\"video_result\",\"url\":\"https://www.youtube.com/watch?v=fa1vQqUGynI\",\"title\":\"Neural
        Networks Explained for Beginners! How Neural Networks Work!\",\"description\":\"In
        this video, I'll teach you all the basics of how Neural Networks work, the
        different types, and how they're used in real world applications!\",\"age\":\"March
        24, 2025\",\"page_age\":\"2025-03-24T14:30:41\",\"fetched_content_timestamp\":1760502773,\"video\":{\"duration\":\"15:31\",\"creator\":\"The
        Data Guy\",\"publisher\":\"YouTube\"},\"meta_url\":{\"scheme\":\"https\",\"netloc\":\"youtube.com\",\"hostname\":\"www.youtube.com\",\"favicon\":\"https://imgs.search.brave.com/Wg4wjE5SHAargkzePU3eSLmWgVz84BEZk1SjSglJK_U/rs:fit:32:32:1:0/g:ce/aHR0cDovL2Zhdmlj/b25zLnNlYXJjaC5i/cmF2ZS5jb20vaWNv/bnMvOTkyZTZiMWU3/YzU3Nzc5YjExYzUy/N2VhZTIxOWNlYjM5/ZGVjN2MyZDY4Nzdh/ZDYzMTYxNmI5N2Rk/Y2Q3N2FkNy93d3cu/eW91dHViZS5jb20v\",\"path\":\"\u203A
        watch\"},\"thumbnail\":{\"src\":\"https://imgs.search.brave.com/cHiPb1JqucdDSpkM-3K84De2HYUiP8IrN0A04qaNJeU/rs:fit:200:200:1:0/g:ce/aHR0cHM6Ly9pLnl0/aW1nLmNvbS92aS9m/YTF2UXFVR3luSS9t/YXhyZXNkZWZhdWx0/LmpwZw\",\"original\":\"https://i.ytimg.com/vi/fa1vQqUGynI/maxresdefault.jpg\"}},{\"type\":\"video_result\",\"url\":\"https://www.youtube.com/watch?v=aircAruvnKk&vl=en\",\"title\":\"But
        what is a Neural Network? | Deep learning, chapter 1 - YouTube\",\"description\":\"Home
        page: https://www.3blue1brown.com/ Brought to you by you: http://3b1b.co/nn1-thanks
        Additional funding provided by Amplify Partners Full playlist: http:\",\"age\":\"October
        5, 2017\",\"page_age\":\"2017-10-05T00:00:00\",\"fetched_content_timestamp\":1602747950,\"video\":{\"duration\":\"19:13\",\"views\":7815452,\"creator\":\"3Blue1Brown\",\"publisher\":\"YouTube\"},\"meta_url\":{\"scheme\":\"https\",\"netloc\":\"youtube.com\",\"hostname\":\"www.youtube.com\",\"favicon\":\"https://imgs.search.brave.com/Wg4wjE5SHAargkzePU3eSLmWgVz84BEZk1SjSglJK_U/rs:fit:32:32:1:0/g:ce/aHR0cDovL2Zhdmlj/b25zLnNlYXJjaC5i/cmF2ZS5jb20vaWNv/bnMvOTkyZTZiMWU3/YzU3Nzc5YjExYzUy/N2VhZTIxOWNlYjM5/ZGVjN2MyZDY4Nzdh/ZDYzMTYxNmI5N2Rk/Y2Q3N2FkNy93d3cu/eW91dHViZS5jb20v\",\"path\":\"\u203A
        watch\"},\"thumbnail\":{\"src\":\"https://imgs.search.brave.com/jExYpx4Gvrrvum4Eg8hn1r5fDAZcgo2whAVaApJgW0U/rs:fit:200:200:1:0/g:ce/aHR0cHM6Ly9pLnl0/aW1nLmNvbS92aS9h/aXJjQXJ1dm5Lay9t/YXhyZXNkZWZhdWx0/LmpwZw\",\"original\":\"https://i.ytimg.com/vi/aircAruvnKk/maxresdefault.jpg\"}},{\"type\":\"video_result\",\"url\":\"https://www.youtube.com/watch?v=jmmW0F0biz0\",\"title\":\"Neural
        Networks Explained in 5 minutes - YouTube\",\"description\":\"Learn more about
        watsonx: https://ibm.biz/BdvxRsNeural networks reflect the behavior of the
        human brain, allowing computer programs to recognize patterns and...\",\"age\":\"May
        24, 2022\",\"page_age\":\"2022-05-24T12:00:33\",\"fetched_content_timestamp\":1727304706,\"video\":{\"duration\":\"04:32\",\"views\":240657,\"creator\":\"IBM
        Technology\",\"publisher\":\"YouTube\"},\"meta_url\":{\"scheme\":\"https\",\"netloc\":\"youtube.com\",\"hostname\":\"www.youtube.com\",\"favicon\":\"https://imgs.sear[...]
[...]
- request:
    body: null
    headers:
      X-Subscription-Token:
      - BSACKDVHAf31lTCeMtxOVO-mvEFiTIg
    method: GET
    uri: https://localhost:33210/res/v1/web/search?count=3&mkt=en-US&offset=0&q=neural+networks&safesearch=moderate
  response:
    body:
      string: "{\"query\":{\"original\":\"neural networks\",\"show_strict_warning\":false,\"is_navigational\":false,\"is_news_breaking\":false,\"spellcheck_off\":true,\"country\":\"us\",\"bad_results\":false,\"should_fallback\":false,\"pos[...]
