interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/customsearch/v1?cx=6374f7a56b2b34760&dateRestrict=d7&num=3&q=machine+learning&sort=date
  response:
    body:
      string: "{\n  \"kind\": \"customsearch#search\",\n  \"url\": {\n    \"type\":
        \"application/json\",\n    \"template\": \"https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json\"\n
        \ },\n  \"queries\": {\n    \"request\": [\n      {\n        \"title\": \"Google
        Custom Search - machine learning\",\n        \"totalResults\": \"12800000\",\n
        \       \"searchTerms\": \"machine learning\",\n        \"count\": 3,\n        \"startIndex\":
        1,\n        \"inputEncoding\": \"utf8\",\n        \"outputEncoding\": \"utf8\",\n
        \       \"safe\": \"off\",\n        \"cx\": \"6374f7a56b2b34760\",\n        \"sort\":
        \"date\",\n        \"dateRestrict\": \"d7\"\n      }\n    ],\n    \"nextPage\":
        [\n      {\n        \"title\": \"Google Custom Search - machine learning\",\n
        \       \"totalResults\": \"12800000\",\n        \"searchTerms\": \"machine
        learning\",\n        \"count\": 3,\n        \"startIndex\": 4,\n        \"inputEncoding\":
        \"utf8\",\n        \"outputEncoding\": \"utf8\",\n        \"safe\": \"off\",\n
        \       \"cx\": \"6374f7a56b2b34760\",\n        \"sort\": \"date\",\n        \"dateRestrict\":
        \"d7\"\n      }\n    ]\n  },\n  \"context\": {\n    \"title\": \"hobbygooglesearch\"\n
        \ },\n  \"searchInformation\": {\n    \"searchTime\": 0.318308,\n    \"formattedSearchTime\":
        \"0.32\",\n    \"totalResults\": \"12800000\",\n    \"formattedTotalResults\":
        \"12,800,000\"\n  },\n  \"items\": [\n    {\n      \"kind\": \"customsearch#result\",\n
        \     \"title\": \"Machine learning - Latest research and news | Nature\",\n
        \     \"htmlTitle\": \"\\u003cb\\u003eMachine learning\\u003c/b\\u003e - Latest
        research and news | Nature\",\n      \"link\": \"https://www.nature.com/subjects/machine-learning\",\n
        \     \"displayLink\": \"www.nature.com\",\n      \"snippet\": \"3 hours ago
        ... Machine learning is the ability of a machine to improve its performance
        based on previous results. Machine learning methods enable computers to learn
        without\_...\",\n      \"htmlSnippet\": \"3 hours ago \\u003cb\\u003e...\\u003c/b\\u003e
        \\u003cb\\u003eMachine learning\\u003c/b\\u003e is the ability of a machine
        to improve its performance based on previous results. \\u003cb\\u003eMachine
        learning\\u003c/b\\u003e methods enable computers to learn without&nbsp;...\",\n
        \     \"formattedUrl\": \"https://www.nature.com/subjects/machine-learning\",\n
        \     \"htmlFormattedUrl\": \"https://www.nature.com/subjects/\\u003cb\\u003emachine\\u003c/b\\u003e-\\u003cb\\u003elearning\\u003c/b\\u003e\",\n
        \     \"pagemap\": {\n        \"cse_thumbnail\": [\n          {\n            \"src\":
        \"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9sX3Tq8V1hBBh-qpTWoO4moJW8ISAOkceGb7MDB8ZC29K5nes3v_c4Vs&s\",\n
        \           \"width\": \"290\",\n            \"height\": \"158\"\n          }\n
        \       ],\n        \"person\": [\n          {\n            \"name\": \"Long-Chen
        Shen\"\n          },\n          {\n            \"name\": \"Dong-Jun Yu\"\n
        \         },\n          {\n            \"name\": \"Jiangning Song\"\n          },\n
        \         {\n            \"name\": \"Igor Bibi\"\n          },\n          {\n
        \           \"name\": \"Daniel Schaffert\"\n          },\n          {\n            \"name\":
        \"Victor Olsavszky\"\n          },\n          {\n            \"name\": \"Shehabeldin
        Saber\"\n          },\n [...]
[...]
