interactions:
- request:
    body: '{"jsonrpc": "2.0", "id": 1, "method": "tools/call", "params": {"name":
      "metaso_web_search", "arguments": {"q": "computer vision", "size": 3, "scope":
      "webpage", "includeSummary": true, "includeRawContent": false}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://metaso.cn/api/mcp
  response:
    body:
      string: "{\"jsonrpc\":\"2.0\",\"id\":1,\"result\":{\"content\":[{\"type\":\"text\",\"text\":\"{\\\"credits\\\":3,\\\"searchParameters\\\":{\\\"conciseSnippet\\\":false,\\\"format\\\":\\\"chat_completions\\\",\\\"includeRawContent\\\":false,\\\"includeSummary\\\":true,\\\"q\\\":\\\"computer
        vision\\\",\\\"scope\\\":\\\"webpage\\\",\\\"size\\\":3},\\\"total\\\":42,\\\"webpages\\\":[{\\\"date\\\":\\\"2025\u5E7404\u670816\u65E5\\\",\\\"docId\\\":\\\"5baddfa2-bfbf-487c-bd36-afce70677a1b\\\",\\\"link\\\":\\\"https://www.bilibili.com/read/cv41359989\\\",\\\"position\\\":1,\\\"score\\\":\\\"high\\\",\\\"summary\\\":\\\"\u8BA1\u7B97\u673A\u89C6\u89C9\uFF08CV\uFF09\u662F\u4EBA\u5DE5\u667A\u80FD\u9886\u57DF\u7684\u91CD\u8981\u5206\u652F\uFF0C\u65E8\u5728\u8BA9\u8BA1\u7B97\u673A\u201C\u770B\u5230\u201D\u5E76\u201C\u770B\u61C2\u201D\u56FE\u50CF\u548C\u89C6\u9891\u5185\u5BB9\u3002\u5B83\u901A\u8FC7\u6280\u672F\u5E2E\u52A9\u8BA1\u7B97\u673A\u7406\u89E3\u7167\u7247\u6216\u89C6\u9891\u4E2D\u7684\u4FE1\u606F\uFF0C\u5982\u8BC6\u522B\u7269\u4F53\u3001\u884C\u4E3A\u7B49\u3002\u8BA1\u7B97\u673A\u89C6\u89C9\u5728\u4EBA\u[...]
[...]
- request:
    body: '{"jsonrpc": "2.0", "id": 1, "method": "tools/call", "params": {"name":
      "metaso_web_search", "arguments": {"q": "computer vision", "size": 3, "scope":
      "webpage", "includeSummary": true, "includeRawContent": false}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://localhost:33210/api/mcp
  response:
    body:
      string: "{\"jsonrpc\":\"2.0\",\"id\":1,\"result\":{\"content\":[{\"type\":\"text\",\"text\":\"{\\\"credits[...]
