interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://newsapi.org/v2/everything?from=2025-10-14&language=en&pageSize=3&q=artificial+intelligence+AI+artificial+intelligence&sortBy=publishedAt
  response:
    body:
      string: "{\"status\":\"ok\",\"totalResults\":2233,\"articles\":[{\"source\":{\"id\":null,\"name\":\"TheStreet\"},\"author\":\"Vuk
        Zdinjak\",\"title\":\"Analysts revamp Salesforce stock forecast after key
        meeting\",\"description\":\"Salesforce is a company that has its software
        as a service, customer relationship management (CRM) platform as its core
        business, but also owns Slack and...\",\"url\":\"https://www.thestreet.com/investing/stocks/analysts-revamp-salesforce-stock-forecast-after-key-meeting\",\"urlToImage\":\"https://media.zenfs.com/en/thestreet_881/4466c2af3c6058551ba7554e29a39440\",\"publishedAt\":\"2025-10-20T03:15:23Z\",\"content\":\"Salesforce
        is a company that has its software as a service, customer relationship management
        (CRM) platform as its core business, but also owns Slack and many other platforms.\\r\\nThe
        company has been w\u2026 [+3874 chars]\"},{\"source\":{\"id\":\"the-times-of-india\",\"name\":\"The
        Times of India\"},\"author\":\"AFP\",\"title\":\"OpenAI big chip orders dwarf
        its revenues \u2014 for now\",\"description\":\"OpenAI is ordering hundreds
        of billions[...]
[...]
