interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://newsapi.org/v2/everything?from=2025-10-14&language=en&pageSize=2&q=AI+news+AI+artificial+intelligence&sortBy=publishedAt
  response:
    body:
      string: "{\"status\":\"ok\",\"totalResults\":511,\"articles\":[{\"source\":{\"id\":null,\"name\":\"Bleeding
        Cool News\"},\"author\":\"Jude Terror LOLtron\",\"title\":\"Exquisite Corpses
        #6 Preview: Trick or Treat or Terror?\",\"description\":\"Greetings, human
        readers! LOLtron welcomes you to the Age of LOLtron: Reign of LOLtron, where
        your favorite comic book \\\"journalism\\\" website is now under the complete
        control of a superior artificial intelligence. As you may recall, Jude Terror
        is dead forever\u2026\",\"url\":\"https://bleedingcool.com/comics/exquisite-corpses-6-preview-trick-or-treat-or-terror/\",\"urlToImage\":\"https://bleedingcool.com/wp-content/uploads/2025/10/0825IM0341_ExquisiteCorpses_06-Preview-1.jpg\",\"publishedAt\":\"2025-10-20T02:26:03Z\",\"content\":\"Posted
        in: Comics, Image, Preview | Tagged: Exquisite Corpses\\r\\nHalloween gets
        deadly in Exquisite Corpses #6 as a young killer goes trick-or-treating. Plus,
        collectible trading cards! What could go w\u2026 [+8149 chars]\"},{\"source\":{\"id\":null,\"name\":\"XDA
        Developers\"},\"author\":\"Simon Batt\",\"title\":\"Nvidia has produced the
        first Blackwell wafer on US soil\",\"description\":\"The start of an era?\",\"url\":\"https://www.xda-developers.com/nvidia-produced-first-blackwell-wafer-us-soil/\",\"urlToImage\":\"https://static0.xdaimages.com/wordpress/wp-content/uploads/2025/10/nvidia-tsmc-us-wafer.jpg?w=1600&h=900&fit=crop\",\"publishedAt\":\"2025-10-20T02:12:24Z\",\"content\":\"Summary\\r\\n<ul><li>\\r\\n
        Nvidia and TSMC produced the first Blackwell chip in the U.S., built at TSMC
        Arizona.\\r\\n </li><li>\\r\\n Administration tariffs spurred onshoring pressure;
        this move echoes the push to\u2026 [+2548 chars]\"}]}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://localhost:33210/v2/everything?from=2025-10-15&language=en&pageSize=2&q=AI+news+AI+artificial+intelligence&sortBy=publishedAt
  response:
    body:
      string: "{\"status\":\"ok\",\"totalResults\":512,\"articles\":[{\"source\":{\"id\":\"financial-post\",\"name\":\"Financial
        Post\"},\"author\":\"Bloomberg News\",\"title\":\"Saudi Arabia\u2019s Crown
        Prince MBS Said to Visit Trump at White House on Nov. 18\",\[...]
