interactions:
- request:
    body: '{"q": "deep learning", "num": 3}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://google.serper.dev/search
  response:
    body:
      string: '{"searchParameters":{"q":"deep learning","type":"search","num":3,"engine":"google"},"organic":[{"title":"Deep
        learning - Wikipedia","link":"https://en.wikipedia.org/wiki/Deep_learning","snippet":"In
        machine learning, deep learning focuses on utilizing multilayered neural networks
        to perform tasks such as classification, regression, and representation ...","sitelinks":[{"title":"Comparison","link":"https://en.wikipedia.org/wiki/Comparison_of_deep_learning_software"},{"title":"Feature
        learning","link":"https://en.wikipedia.org/wiki/Feature_learning"},{"title":"Deep
        belief network","link":"https://en.wikipedia.org/wiki/Deep_belief_network"},{"title":"Transformer","link":"https://en.wikipedia.org/wiki/Transformer_(deep_learning_architecture)"}],"position":1},{"title":"DeepLearning.AI:
        Start or Advance Your Career in AI","link":"https://www.deeplearning.ai/","snippet":"Join
        over 7 million people learning how to use and build AI. AI Courses and Specializations.
        Build a foundation of machine learning and AI skills.","sitelinks":[{"title":"Courses","link":"https://www.deeplearning.ai/courses/"},{"title":"Machine
        Learning Specialization","link":"https://www.deeplearning.ai/courses/machine-learning-specialization/"},{"title":"Careers","link":"https://www.deeplearning.ai/careers/"},{"title":"Generative
        AI for Everyone","link":"https://www.deeplearning.ai/courses/generative-ai-for-everyone/"}],"position":2},{"title":"What
        Is Deep Learning? | IBM","link":"https://www.ibm.com/think/topics/deep-learning","snippet":"Deep
        learning is a subset of machine learning driven by multilayered neural networks
        whose design is inspired by the structure of the human brain.","position":3}],"peopleAlsoAsk":[{"question":"What
        is deep learning vs CNN?","snippet":"Within Deep Learning, a Convolutional
        Neural Network or CNN is a type of artificial neural network, which is widely
        used for image/object recognition and classification. Deep Learning thus recognizes
        objects in an image by using a CNN.","title":"Convolutional Neural Networks
        (CNN) with Deep Learning","link":"https://www.happiestminds.com/insights/convolutional-neural-networks-cnns/"}],"relatedSearches":[{"query":"Natural
        language p..."},{"query":"Deep learning book"},{"query":"Deep learning ai"},{"query":"Deep
        learning vs machine learning"},{"query":"Deep learning algorithms"},{"query":"Deep
        learning Tutorial"},{"query":"Deep learning PDF"},{"query":"Deep Learning
        course"},{"query":"Deep learning examples"}],"credits":1}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-cloud-trace-context:
      - 39127e26e76ae60233be0c52ab4f0ee9
      x-ratelimit-limit:
      - '500'
      x-ratelimit-remaining:
      - '499'
      x-ratelimit-reset:
      - '1761016385'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"q": "deep learning", "num": 3}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://google.serper.dev/search
  response:
    body:
      string: '{"searchParameters":{"q":"deep learning","type":"search","num":3,"engine":"google"},"knowledgeGraph":{"title":"Deep
        learning","type":"Field of study","imageUrl":"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTUjDX9XJ9LJSHLpLo0BZx3lMpJE5pLhhEnWNY8i0Q&s=0","description":"In
        machine learning, deep learning focuses on utilizing multilayered neural networks
        to perform tasks such as classification, regression, and representation learning.","descriptionSource":"Wikipedia","descriptionLink":"https://en.wikipedia.org/wiki/Deep_learning"},"organic":[{"title":"Deep
        learning - Wikipedia","link":"https://en.wikipedia.org/wiki/Deep_learning","snippet":"In
        machine learning, deep learning focuses on utilizing multilayered neural networks
        to perform tasks such as classification, regression, and representation ...","position":1},{"title":"DeepLearning.AI:
        Start or Advance Your Career in AI","link":"https://www.deeplearning.ai/","snippet":"Join
        over 7 m[...]
[...]
- request:
    body: '{"q": "deep learning", "num": 3}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://localhost:33210/search
  response:
    body:
      string: '{"searchParameters":{"q":"deep learning","type":"search","num":3,"engine":"google"},"knowledgeGraph":{"title":"Deep
        learning","type":"Field of study","imageUrl":"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTUjDX9XJ9LJSHLpLo0BZx3lMpJE5pLhhEnWNY8i0Q&s=0","description":"In
   [...]
[...]
