interactions:
- request:
    body: '{"api_key": "FILTERED", "query": "artificial intelligence", "search_depth":
      "basic", "include_answer": false, "include_raw_content": false, "max_results":
      3, "include_domains": [], "exclude_domains": []}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.tavily.com/search
  response:
    body:
      string: '{"query":"artificial intelligence","follow_up_questions":null,"answer":null,"images":[],"results":[{"url":"https://www.coursera.org/articles/what-is-artificial-intelligence","title":"What
        Is Artificial Intelligence? Definition, Uses, and Types - Coursera","content":"Artificial
        intelligence (AI) is the theory and development of computer systems capable
        of performing tasks that historically required human","score":0.8737439,"raw_content":null},{"url":"https://en.wikipedia.org/wiki/A.I._Artificial_Intelligence","title":"A.I.
        Artificial Intelligence - Wikipedia","content":"***A.I. Artificial Intelligence***
        (or simply ***A.I.***) is a 2001 American science fiction drama film directed
        by Steven Spielberg. In 1985, Kubrick asked Steven Spielberg to direct the
        film, with Kubrick producing. The bonuses also include interviews with Haley
        Joel Osment, Jude Law, Frances O''Connor, Steven Spielberg and John Williams,
        two teaser trailers for the film''s original theatrical release, and an extensive
        photo gallery featuring production stills and Stanley Kubrick''s original
        storyboards. | Saturn Awards | June 10, 2002 | Best Science Fiction Film |
        *A.I. Artificial Intelligence* | Won |  | *A.I. Artificial Intelligence: From
        Stanley Kubrick to Steven Spielberg: The Vision Behind the Film*. *Kubrick''s
        Story: Spielberg''s Film: A.I. Artificial Intelligence*.","score":0.8524574,"raw_content":null},{"url":"https://cloud.google.com/learn/what-is-artificial-intelligence","title":"What
        Is Artificial Intelligence (AI)? | Google Cloud","content":"Artificial intelligence
        (AI) is a set of technologies that enable computers to perform a variety of
        advanced functions, including the ability to [see](https://cloud.google.com/vision#section-8),
        understand and [translate spoken and [...]
[...]
- request:
    body: '{"api_key": "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", "query": "artificial
      intelligence", "search_depth": "basic", "include_answer": false, "include_raw_content":
      false, "max_results": 3, "include_domains": [], "exclude_domains": []}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://localhost:33210/search
  response:
    body:
      string: '{"detail":{"error":"Unauthorized: missing or invalid API key."}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 401
      message: Unauthorized
version: 1
